<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="FlipKart Automation">
	<listeners>
		<listener
			class-name="com.learning.automation.mavenselenium.utility.Listeners"></listener>
	</listeners>
	<test thread-count="5" name="Test">
		<classes>
			<!-- <class name="com.learning.automation.mavenselenium.tests.RegressionTest"/> -->
			<class
				name="com.learning.automation.mavenselenium.tests.SmokeTests" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
